.button {
    border-radius: 0.25rem;
    height: 40px;
    border: none;
  }
.primary {
    background: linear-gradient(0deg, #0267FF, #0267FF),
      linear-gradient(118.19deg, #1275D0 21.37%, #62AEF3 69.77%);
    color: #FFFFFF;
    border: none;
  }
  .primary-with-border {
    background: linear-gradient(0deg, #0267FF, #0267FF),
      linear-gradient(118.19deg, #1275D0 21.37%, #62AEF3 69.77%);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
  .secondary {
    border: 1px solid #999999;
    color: #1D2939;
  }
  .tertiary {
    background: var(--grey);
    color: linear-gradient(0deg, #0267FF, #0267FF),
      linear-gradient(118.19deg, #1275D0 21.37%, #62AEF3 69.77%);
    border: 1px solid #FFFFFF;
  }
  .without-background-color {
    background-color: #FFFFFF;
    color: #0267FF;
  }
  .medium-border-radius {
    border-radius: 0.5rem;
  }
  .large-border-radius {
    border-radius: 1.438rem;
  }
  
  .medium {
    padding: 1.344rem 1.563rem;
    justify-content: center;
    align-items: center;
  }
  .small {
    width: 4.75rem;
  }
  .start-quiz-btn {
    width: 12.5rem;
    height: 64px;
  }
  .signup-expert-btn {
    width: 14.563rem;
    height: 64px;
  }
  .submit-small {
    width: 4.563rem;
    height: 36px;
  }
  .add-btn{
    padding: 0.512rem 1.375rem;
    border: 1px solid #B3B3B3
  }
  .continue-add-btn{
    width: 18rem;
  }
  .submit-large {
    width: 21.25rem;
    height: 65px;
  }
  .Large {
    width: 18.75rem;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #1D2939;

  }
  .search-btn {
    width: 5.063rem;
  }
  .back-btn {
    width: 9.938rem;
    height: 60px;
  }
  .quiz-btn {
    width: 11.313rem;
  }
  .confirm-submit-btn {
    width: 8.563rem;
    height: 36px;
  }
  .save-changes {
    width: 7.25rem;
    height: 40px;
  }
  
  .schedule-time {
    padding: 0.656rem 1.094rem;
  }
  .select-options {
    width: 14.5rem;
    height: 36px;
  }
  .upload-photo,
  .continue {
    width: 14.5rem;
  }
  .recommendation-btn,
  .xL {
    width: 14.5rem;
    height: 36px;
  }
  .modale-card {
    width: 8.563rem;
    height: 36px;
  }
  .danger {
    color: var(--white);
    background: #FF0000;
    border: none;
  }
  .large {
    width: 18.75rem;
    height: 40px;
  }
  .show-result {
    width: 63%;
  }
  @media (max-width: 400px) {
    .start-quiz-btn {
      width: 12.5rem;
      height: 50px;
    }
    .signup-expert-btn {
      width: 14.563rem;
      height: 50px;
    }
  }
  
  
  
  
  
  
  