.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-align: center;
  margin-bottom: 144px;
  width: 100%;
}
.completedRegistration{
  margin-top: 70px;
  width: 80%;
}
.pageCounter {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 64px;
  width: 80%;
}
.counter {
  font-weight: bolder;
}
.counter span {
  font-weight: 400;
}

.heading {
  font-size: 2.063rem;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.005em;
}



.interestSpan {
  margin-left: 0.8rem;
}

.interestDescription {
  margin-top: 24px;
  margin-bottom: 33px;
}
.btn1 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.continueInterest {
  margin-top: 103px;
}

.img {
  width: 75%;
  margin: auto;
}
.completedDescription {
  margin-top: 18px;
}
.submitBtn{
  background: linear-gradient(0deg, #0267FF, #0267FF),
  linear-gradient(118.19deg, #1275D0 21.37%, #62AEF3 69.77%);
  color: #FFFFFF;
  border: none;
  width: 18rem;
  border-radius: 0.25rem;
  height: 40px;
}
.submitBtn[type='submit']{
  background-image: linear-gradient(0deg, #0267FF, #0267FF),
  linear-gradient(118.19deg, #1275D0 21.37%, #62AEF3 69.77%);
}
.back{
  display: flex;
  cursor: pointer;
}
.back span{
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.005em;
}
.back span:hover{
  font-weight: 600;
}
.backArrow{
  margin-right: 8px;
  cursor: pointer;
}

.exit:hover{
  font-weight: 600;
}

@media (max-width: 500px) {
  .forms {
    width: 100vw;
    position: relative;
  }
  .googleLogo {
    display: none;
  }
  .pageCounter {
    position: absolute;
    width: 100vw;
    margin: 0;
    height: 100px;
    top: 0px;

    background: linear-gradient(0deg, #0267ff, #0267ff),
      linear-gradient(100.97deg, #6425d3 21.56%, #a259ff 84.43%), #0267ff;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
  }
  .counter {
    margin-left: 10%;
  }
  .exit {
    margin-right: 10%;
  }
}
