.heading {
  font-size: 2.063rem;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.005em;
}

.photoDescription {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 54px;
  width: 90%;
}
.photoUploadWrapper {
  width: 139px;
  height: 139px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 242px;
  background: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.photoContainer {
  display: block;
  width: 139px;
  height: 139px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 242px;
  cursor: pointer;
}
.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.avatarBackground {
  width: 139px;
  height: 139px;
  border-radius: 50%;
}
.personIcon {
  width: 50px;
  height: 50px;
}
.uploadImg {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.uploadBtn {
  background: linear-gradient(0deg, #0267ff, #0267ff),
    linear-gradient(118.19deg, #1275d0 21.37%, #62aef3 69.77%);
  color: #ffffff;
  border: none;
  padding: 0.656rem 3.844rem;
  border-radius: 0.25rem;
  height: 40px;
  cursor: pointer;
}
.skip {
  margin-top: 26px;
  cursor: pointer;
}
