.formsStep4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading{
    font-size: 2.063rem;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.005em;
  text-align: center;
  width: 65%;
  }
  .addInterestDescription {
    width: 55%;
    margin-top: 24px;
    margin-bottom: 24px;
  }
.addCards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0.938rem;
    margin-bottom: 66px;
  }
  .continueBtn {
    background: linear-gradient(0deg, #0267ff, #0267ff),
      linear-gradient(103.38deg, #1275d0 26.38%, rgba(185, 38, 188, 0.46) 78.13%);
    border-radius: 4px;
    height: 40px;
    width: 14.5rem;
    color: #ffffff;
  }
  @media (max-width:800px) {
    .addInterestDescription {
        width: 100%;
      }
      .heading{
        width: 100%;
      }
  }
  @media (max-width: 500px) {
    .formsStep4{
        margin-top: 130px;
        width: 98%;
      }
  }
